<!-- Attractions Section -->
    <section id="attractions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Attractions</h2>
                    <h3 class="section-subheading text-muted">How to <a href="//youtu.be/8fvTxv46ano">make your time!!!!</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <!--
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/mountain-running-silhouette_318-54899_white.png" alt="trail run logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Palo Duro Trail Run</h4>
                                    <h4 class="subheading">20k, 50k, and 50 mile trail run</h4>
                                    <h4 class="subheading"><a href="http://www.palodurotrailrun.com/">palodurotrailrun.com</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Get a quick 8 hour trail run in before the wedding! Note: The 20k is sold out. :(</p>
                                </div>
                            </div>
                        </li>
                        -->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/pphm_oil_square.jpg" alt="oil derrick">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Panhandle-Plains Historical Museum</h4>
                                    <h4 class="subheading"><a href="https://goo.gl/maps/5Bv3EePoYDU2">2503 4th Ave, Canyon, Texas 79015</a></h4>
                                    <h4 class="subheading"><a href="http://www.panhandleplains.org/">panhandleplains.org</a></h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">They have a 2-story oil derrick from the 1920s and the equipment that would have installed it.  Kids love the replica pioneer town and the fossils and rocks.  We've also enjoyed the info on agricultural history (how did water pumping work in the 19th century?) and petroleum (what happens if a tool breaks off in a drill-hole?)  Since we're in the south-central US there is obviously a superlative: this is the largest history museum in the state.  We recommend it for kids and nerdy adults alike.</div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/image7-square.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The American Quarter Horse Hall of Fame &amp; Museum</h4>
                                    <h4 class="subheading"><a href="https://goo.gl/maps/AcQsLPQY2Do">2601 I-40 East, Amarillo, TX 79104</a></h4>
                                    <h4 class="subheading"><a href="https://www.aqha.com/museum">aqha.com</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The American Quarter Horse Hall of Fame &amp; Museum features photographs and paintings of famous Quarter Horses. Exhibits include horse anatomy, horse riding and disciplines, artifacts, riding and cowboy attire, and tack.  (We think "tack" means "gear", kind of an equivalent of the British use of "kit".)  We haven't been here but we're curious.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/tumblr_static_4zxci9ifp0g0c088ogwcwswkw_640_v2_square.jpg">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Palo Duro Canyon Zipline Adventure Park</h4>
                                    <h4 class="subheading"><a href="https://goo.gl/maps/JoREkvQp7Ht">11100 TX-217, Canyon, TX 79015</a></h4>
                                    <h4 class="subheading"><a href="https://www.palodurozip.com/">palodurozip.com</a></h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Palo Duro Canyon Adventure Park has a "Big Zip-Line Ride" featuring amazing views of Palo Duro Canyon. And also provides a half-day bouldering and rappelling experience.</div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>See<br/>the<br/>sights!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
