<!-- FAQ Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <h3 class="section-subheading text-muted">Frequently asked questions?</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4>What should I wear?</h4><p>We're calling it "fun formal".</p>
                    <h4>What about my shoes?</h4><p>Please wear comfortable shoes!  We want people to mingle at the cocktail tables we have set up, and to be comfortable walking into and out of the Pavilion, and to be comfortable dancing :-)
                    <h4>Where are you registered?</h4><p>Thank you to everyone who has asked us about gifts. Thinking about it, this is indeed part of the wedding tradition.  However, please understand that we have too much stuff already, and are working on combining two households - so we are actually requesting no gifts.  
                    <h4>How is cell coverage in the canyon?</h4><p>Well, it's pretty spotty.  Try to have everything you need from the internet available offline before you get too far away from Canyon, TX or Amarillo. Google maps has an offline mode: tap the three lines in Maps on your phone (the "hamburger menu"), and find "offline areas" and choose the area around the Palo Duro Canyon.  Or take screenshots of the map like Karen does. For any information off the web you want to have with you, you can use a browser like Offline Pages to store it beforehand.<p><p>
		    Expect government-run Wi-Fi at the pavilion to almost, but infuriatingly not quite work. :(</p>
                    <h4>Can I call a ride-share from the venue?</h4><p>Well, there aren't many drivers in the area, and without real cell coverage calling them would be difficult.  We think it's probably possible to talk to a driver personally if you call them in Amarillo, and offer to pay them to come to the venue.  Or, if you really wanted to use ride-share to get back and forth, talk to us and we'll see what we can do!<p>
                </div>
            </div>
        </div>
    </section>
