<!-- What Section -->
    <section id="what">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The What</h2>
                    <h3 class="section-subheading text-muted">What to expect when wedding.</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-circle-thin fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ceremony</h4>
                    <p class="text-muted">Ours will start at 4pm.  It'll include vows and, you know, probably some discussion of how special and sacred the love and partnership between two people can be.  We'll keep things short.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Breathtaking Views</h4>
                    <p class="text-muted">Palo Duro Canyon is the 2nd largest canyon in the US, by some measures.  We've got charts to back it up and everything.</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Food</h4>
                    <p class="text-muted">Real Texas BBQ: Brisket and meat-eater approved non-meat "burgers"; brownies and bread pudding.<br><br>Size your ball gown accordingly.</p>
                </div>

            </div>

            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Alcohol</h4>
                    <p class="text-muted">There'll be people who love alcohol and people who think alcohol is kind of dumb.  <img src="img/b51c951c6feb91ad7830a9d98ca90ccc.png" width="14" height="14" />&nbsp;&nbsp;  The Texas State Parks fall in the latter category, so we will have alcohol (it's not a dry wedding), but we'll have to keep alcohol inside the venue building, not outdoors.  Don't worry, we'll remind you.</p>
                </div>

                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dancing</h4>
                    <p class="text-muted">Bring your dancin' shoes, 'cause it's about to go down. <!--TODO: insert dance emoji--></p>
                </div>

            </div>

        </div>
    </section>
