<!-- Travel Section -->
    <section id="travel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Travel</h2>
                    <h3 class="section-subheading text-muted">How to get here and where to sleep <!--and how to <a href="//youtu.be/8fvTxv46ano">make your time</a>--></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/noun_539256.png" alt="airplane logo">
                    					  <!--<span class="fa-stack fa-4x" style="padding-top: 25px">
                    					      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    					      <i class="fa fa-plane fa-stack-2x fa-inverse"></i>
                    					  </span>-->
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Flights</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The closest airport is Rick Husband Amarillo International Airport (AMA), about 30 miles from Canyon and has car rentals.<br/>Oklahoma City (OKC) is roughly a 4 hour drive from Amarillo and may have a direct flight option.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/bw-logo_horizontal_2-line_rgb_reversed_trimmed.png" alt="Best Western logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hotels</h4>
                                    <h4 class="subheading">Best Western Palo Duro Canyon Inn & Suites</h4>
                                    <h4 class="subheading"><a href="https://goo.gl/maps/1Cb993usQ632">2801 4th Ave, Canyon, TX 79015</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Block of rooms already reserved for anyone to use. Call (806) 655-1818 to book (slightly discounted at $95/night + tax). Tell them Robinson/Garner sent ya'.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/noun_29569_small.png" alt="Tent logo">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Camping</h4>
                                    <h4 class="subheading">Sagebrush Campground</h4>
                                    <h4 class="subheading"><a href="https://goo.gl/maps/NDRonsWjJRF2">Palo Duro Canyon, TX</a></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We reserved the whole camping area adjacent to the wedding venue (&lt;10 minute hike). Talk to Karen to save your spot.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Take a<br/>load<br/>off!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
